.scroll-pane {
    -fx-background-color: black;
}

.scroll-bar:horizontal .thumb {
	-fx-background-color: black;
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 0em;
	-fx-pref-height: 10px;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: red;
    -fx-background-radius: 5em;
}

